<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>ptci.controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupServlet</servlet-name>
        <servlet-class>ptci.controller.signupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutSerlet</servlet-name>
        <servlet-class>ptci.controller.logoutSerlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminSignupServlet</servlet-name>
        <servlet-class>ptci.controller.adminSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginServlet</servlet-name>
        <servlet-class>ptci.controller.adminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tutorLoginServlet</servlet-name>
        <servlet-class>ptci.controller.tutorLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLogoutServlet</servlet-name>
        <servlet-class>ptci.controller.adminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminMakeRegistration</servlet-name>
        <servlet-class>ptci.controller.adminMakeRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageStudentDetailsServlet</servlet-name>
        <servlet-class>ptci.controller.manageStudentDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addSubjectServlet</servlet-name>
        <servlet-class>ptci.controller.addSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageSubjectServlet</servlet-name>
        <servlet-class>ptci.controller.manageSubjectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStudentServlet</servlet-name>
        <servlet-class>ptci.controller.updateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteStudentServlet</servlet-name>
        <servlet-class>ptci.controller.deleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerSubjectStudentServlet</servlet-name>
        <servlet-class>ptci.controller.registerSubjectStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readPaymentServlet</servlet-name>
        <servlet-class>ptci.controller.readPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupServlet</servlet-name>
        <url-pattern>/signupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutSerlet</servlet-name>
        <url-pattern>/logoutSerlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSignupServlet</servlet-name>
        <url-pattern>/adminSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginServlet</servlet-name>
        <url-pattern>/adminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tutorLoginServlet</servlet-name>
        <url-pattern>/tutorLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLogoutServlet</servlet-name>
        <url-pattern>/adminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminMakeRegistration</servlet-name>
        <url-pattern>/adminMakeRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageStudentDetailsServlet</servlet-name>
        <url-pattern>/manageStudentDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addSubjectServlet</servlet-name>
        <url-pattern>/addSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageSubjectServlet</servlet-name>
        <url-pattern>/manageSubjectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStudentServlet</servlet-name>
        <url-pattern>/updateStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteStudentServlet</servlet-name>
        <url-pattern>/deleteStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerSubjectStudentServlet</servlet-name>
        <url-pattern>/registerSubjectStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readPaymentServlet</servlet-name>
        <url-pattern>/readPaymentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>myDatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
